body {
    margin: 0;
    font-family: Arial;
    background: white;
    }

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    align-items: center;

    color: cadetblue;
    background: rgba(0 ,0,0,0.5);

    position: fixed;
    width: 100%;
    top: 0;
    left: 0;

    z-index: 9999;
    box-sizing: border-box;
    
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
}

/* COMPANY */
.company {
   font-size: 17px;
   letter-spacing: 2px;
   margin-bottom: 25px;
   font-family: stencil;
}

/* LOGO */
.logo-img {
    width: 70px;
    height: 75px;
    font-family: stencil;
}

/* MEGA MENU STYLE */

.menu {
    display: flex;
    gap: 30px;
    margin-right: 160px;
    align-items: center;
    font-size: 24px;
    font-family: normal;
}

.menu li {
    list-style: none;
    position: relative;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    color: white;
    transition: 0.3s;
}

.menu li:hover {
    color: #00b4d8;
}

.menu li:last-child .dropdown-content, 
.menu li:nth-last-child(2) .dropdown-content,
.menu li:nth-last-child(3) .dropdown-content {
    right: 0;
    left: auto;
}

/* MAIN DROPDOWN BOX */

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: rgba(0,0,0,0.95);
    
    min-width: 320px;

    padding: 25px;

    border-radius: 10px;

    box-shadow: 0 0 20px rgba(0,0,0,0.5);

    z-index: 999;
}

/* SHOW MENU */

.dropdown:hover  .dropdown-content {
    display: block;
}

/* OPTIONS */

.dropdown-content li {

    padding: 15px 20px;

    color: white;

    font-size: 20px;

    border-bottom: 1px solid rgba(255,255,255,0.1);

    transition: 0.3s;
}

.dropdown-content li:hover {

    background: rgba(255,255,255,0.08);

    color: #00d9ff;

    padding-left: 28px;
}

/* SUBMENU */

.submenu {
    position: relative;
}

/* RIGHT SIDE BOX */

.submenu-content {

    display: none;

    position: absolute;

    top: 0;

    left: 95%;

    background: rgba(5,5,5,0.97);

    min-width: 300px;

    padding: 20px;

    border-radius: 10px;

    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

/* SHOW SUBMENU */

.submenu:hover > .submenu-content {
    display: block;
}

/* SUBMENU OPTIONS */

.submenu-content li {

    padding: 14px 18px;

    font-size: 18px;

    color: white;

    transition: 0.3s;
}

.submenu-content li:hover {

    background: rgba(255,255,255,0.08);

    color: #00d9ff;

    padding-left: 25px;
}

/* HERO SECTION*/
.hero {
   position: relative;
   width: 100%;

   height: 100vh;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

/* HERO CONTENT */
.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    width: 100%;
}

/* VIDEO */
.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

/* DARK OVERLAY */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.55);
    z-index: 2;
}

/* HEADING */
.hero h1{
    font-size: 50px;
    font-family: cinzel;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: lightskyblue;
    z-index: 2;
}

/* PARAGRAPH */
.hero h2 {
    font-size: 28px;
    font-family: orbitron;
    letter-spacing: 2px;
    color: lightgoldenrodyellow;
}

/* PARAGRAPH */
.hero h3 {
    font-size: 20px;
    font-family: orbitron;
    letter-spacing: 2px;
    color: lightgoldenrodyellow;
}

/* BUTTON */
button {
   padding: 12px 28px;
   margin-top: 15px;
   cursor: pointer;
   border: none;
   border-radius: 30px;
   font-size: 17px;
   font-weight: bold;
   color: green;
   z-index: 2;
}

/* PANELS */
.panel {
    display: none;
    height: 100vh;
    padding-top: 120px;
    text-align: center;
}

.panel ul {
    list-style: none;
    font-size: 20px;
}

.panel li {
    margin: 15px;
    cursor: pointer;
}

/* CONTENT PAGE */
.content-page {
    display:none;
    position: fixed;

    top: 0;
    left: 0;

    width:100%;
   height: 100vh;

    background: white;

    overflow-y: auto;
    overflow-x: hidden;

    z-index: 5000;
   
    flex-direction: column;
}

/* ACTIVE PAGE */
.content-page.active {
    display: block;
}

/* HIDE NAVABAR IN CONTENT PAGE */
.hide-navbar {
    display: none;
}

/* HERO VIDEO SECTION */
.content-hero {
    position: relative;

    width: 100%;
    height: 100vh;

    overflow: hidden;

    display: flex;

    justify-content: center;
    align-items: center;
}

/* VIDEO */
.content-video {
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    object-fit: cover;

    z-index: -2;
}

/* HERO TEXT */
.content-hero-text {
    position: relative;
    z-index: 3;
    text-align: center;
    width: 80%;
}

.content-hero-text h1 {
    font-size: 60px;
    font-family: Cinzel;
    letter-spacing: 5px;
    margin-bottom: 25px;
    text-transform: uppercase;
    color: lavender;
}

.content-hero-text p {
    font-size: 28px;
    line-height: 1.8;
    color: white;
    line-height: 1.6;
}

/* WHITE CONTENT SECTION */
.content-details {
    width: 90%;

    margin: 0 auto;

    padding: 60px;

    display: flex;

    align-items: center;

    justify-content: space-between;

    gap: 50px;

    background: rgba(0,123,255,0.18);

    border-radius: 30px;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border: 1px solid black;

    box-sizing: border-box;

    overflow: hidden;
}
    

/* HOME GLASS SECTION */
.home-details {

    width: 90%;

    margin: 10px auto;

    padding: 60px;

    display: flex;

    align-items: center;

    justify-content: space-between;

    gap: 50px;

    background: white;

    border-radius: 30px;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border: 1px solid black;

    box-sizing: border-box;

    overflow: hidden;
}

.home-text {
    flex: 1;
    color: grey;
}

.home-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 0 100px;
}

.home-details.reverse {
    flex-direction: row-reverse;
}

.home-video video {
    width: 90%;
    height: 260px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
    margin: auto;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.35);
}

.home-text h2 {
    font-size: 30px;
    font-family: Cinzel;
    letter-spacing: 2px;
    color: black;
}

.home-text p {
    font-size: 18px;
    line-height: 1.9;
    color: black;
    font-family: 'Segoe UI', sans-serif;
}
.home-heading {
    width: 100%;
    text-align: center;
    margin: 80px 0 40px;
}

.home-heading h1 {
    font-size: 29px;
    color: navy;
    font-family: Arial, sans-serif;
    letter-spacing: 1px;
    text-align: center;
}
.home-heading h3 {
    font-size: 25px;
    color: navy;
    font-family: cabin;
}

.home-heading p {
    width: 45%;
    margin: auto;
    font-size: 17px;
    font-weight: normal;
    color: black;
    font-family: Arial, sans-serif;
    line-height: 1.8;
    text-align: center;
}

/* PORTFOLIO IMAGES */
.portfolio-images {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-top: 50px;
    margin-bottom: 80px;
    flex-wrap: wrap;
}

/* IMAGE STYLE */
.portfolio-images img {
    width: 280px;
    height: 320px;
    object-fit: cover;
    border-radius: 12px;
    transition: 0.4s;
}

/* HOVER EFFECT */
.portfolio-images img:hover {
    transform: scale(1.05);
}

/* INSIGHTS IMAGES */
.insight-images {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 50px;
    flex-wrap: wrap;
}

/* HOVER EFFECT */
.insight-images img:hover {
    transform: translateY(-10px);
}

/* IMAGES */
.insight-images img {
    width: 260px;
    height: 340px;
    object-fit: cover;
    border-radius: 14px;
    transition: 0.4s;
}

/* APPOINTMENT BUTTON SECTION */
.appointment-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 100px;
}

.appointment-btn button {
    padding: 18px 45px;
    font-size: 16px;
    letter-spacing: 3px;
    border: 1px solid rgba white;
    border-radius: 40px;
    background: black;
    color: White;
    cursor: pointer;
    backdrop-filter: blur(10px);
    transition: 0.4s;
}

/* HOVER EFFECT */
.appointment-btn button:hover {
    transform: translateY(-6px);
    background: black;
}

button:hover {
    background: #00b4d8;
    color: black;
    transform: scale(1.05);
    transition: 0.3s;
}

/* FOOTER */
.footer {
    background: #050505;
    color: white;
    padding: 70px 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}

/* LOGO */
.footer-logo img {
    width: 120px;
    margin-bottom: 20px;
}
.footer-logo h2 {
    font-size: 28px;
    margin-bottom: 15px;
}
.footer-logo p {
    width: 300px;
    line-height: 1.8;
    color:#cbd5e1;
}

/* LINKS */
.footer-links h3,
.footer-address h3,
.footer-social h3 {
    margin-bottom: 20px;
    font-size: 24px;
}
.footer-links a {
    display: block;
    color: #d1d5db;
    text-decoration: 12px;
    margin-bottom: 12px;
    transition: 0.3s;
}
.footer-address p {
    line-height: 1.9;
    color: #cbd5e1;
}

/* SOCIAL-ICONS */
.social-icons {
    display:flex;
    gap: 20px;
    margin-top:15px;
}

.social-icons a {
    font-size: 28px;
    color: white;
    transition: 0.3s;
}
.social-icons a:hover {
    color: #38bdf8;
    transform: scale(1.2);
}
/* TITLE */
.content-details h2 {
    font-size: 29px;
    margin-bottom: 35px;
    color: grey;
    font-family: bentham;
    letter-spacing: 3px;
}

/* PARAGRAPH */
.content-details p {
    width: 80%;
    margin: auto;
    font-size: 23px;
    line-height: 2;
    color: grey;
    white-space: pre-line;
    font-family: Arial narrow bold;
}
/* CONTENT TEXT */
.content-text {
    flex: 1;
}   

/* HOME VIDEO */
.home-video {
    flex: 1;
    width: 90%;
    height: 90%;
}    
/* SMOOTH SCROLL */

.html {
    scroll-behavior: smooth;
}

